/* line 15, ../sass/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 25, ../sass/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 28, ../sass/_reset.scss */
body {
  line-height: 1;
}

/* line 31, ../sass/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 34, ../sass/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 38, ../sass/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 42, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 6, ../sass/style.sass */
.cf:before, .cf:after {
  content: " ";
  display: table;
}

/* line 10, ../sass/style.sass */
.cf:after {
  clear: both;
}

/* line 14, ../sass/style.sass */
html {
  height: 100%;
}

/* line 17, ../sass/style.sass */
body {
  background-color: #cee3f8;
  height: 100%;
  text-align: center;
}

/* line 22, ../sass/style.sass */
#wrapper {
  height: 100%;
}

/* line 24, ../sass/style.sass */
#panel {
  float: left;
  display: inline-block;
  height: 100%;
  width: 15%;
}
/* line 29, ../sass/style.sass */
#panel input {
  width: 100%;
  font-size: 1em;
  display: block;
}
/* line 33, ../sass/style.sass */
#panel #fieldbox {
  font-family: Helvetica;
  width: 90%;
  display: inline-block;
  margin: 10% auto 0 auto;
}
/* line 38, ../sass/style.sass */
#panel #fieldbox #transit {
  padding: 1em 0;
}
/* line 40, ../sass/style.sass */
#panel #fieldbox #transit .trans {
  display: inline-block;
  width: 20%;
}
/* line 43, ../sass/style.sass */
#panel #fieldbox #transit span {
  display: inline-block;
  font-size: 0.75em;
  width: 23%;
}
/* line 47, ../sass/style.sass */
#panel #fieldbox .ticks {
  width: 20%;
  font-size: 0.75em;
  display: inline-block;
}
/* line 51, ../sass/style.sass */
#panel #check-grid {
  display: inline-block;
  width: 100%;
  margin: 0 auto;
}
/* line 55, ../sass/style.sass */
#panel #check-grid .checks {
  width: 50%;
  float: left;
  text-align: left;
}
/* line 59, ../sass/style.sass */
#panel #check-grid .checks input {
  display: inline-block;
  width: inherit;
}

/* line 64, ../sass/style.sass */
#map-canvas {
  display: inline-block;
  height: 100%;
  width: 85%;
  -webkit-transition: all 400ms ease-out;
}
